app:
  token: "sungora-dev" # cookie name
  sessionTimeout: 604800s
  mode: "dev"
  dirWww: "/www"
  signingKey: "xxx-xxx-xxx"

lg:
  title: "sungora-dev" # Change
  output: "stdout"
  formatter: "json"
  level: trace # Change enum (trace|info|error)

http:
  proto: "http"
  host: "localhost"
  port: 8080
  writeTimeout: 60s  # Время ожидания окончания передачи ответа в секундах
  readTimeout: 60s   # Время ожидания web запроса в секундах
  requestTimeout: 60s # Время ожидания окончания выполнения запроса
  maxHeaderBytes: 1048576 # Максимальный размер заголовка получаемого от браузера клиента в байтах

psql:
  user: "postgres"
  pass: "postgres"
  host: "localhost"
  port: 5432
  dbname: "sun"
  sslmode: "disable"
  blacklist: [ "test" ]
  max_idle_conns: 50
  max_open_conns: 50
  ocsql_trace: true

jaeger:
  title: "sungora-dev"
  oc_url: "http://localhost:14268/api/traces"
  fraction: 1

grpcClient:
  host: "localhost"
  port: 7000

grpcServer:
  host: "localhost"
  port: 7000

minio:
  host: "localhost:9000"
  access_key: "admin"
  secret_key: "Cf5IttjOxXnl"
  ssl: false
  region: "eu-east-1"

# Boiler
types:
  - match:
      name: duration
    replace:
      type: time.Duration
  - match:
      db_type: uuid
      nullable: true
    replace:
      type: typ.UUID
    imports:
      third_party:
        - '"sungora/lib/typ"'
  - match:
      db_type: uuid
      nullable: false
    replace:
      type: typ.UUID
    imports:
      third_party:
        - '"sungora/lib/typ"'
  - match:
      db_type: numeric
    replace:
      type: decimal.Decimal
    imports:
      third_party:
        - '"github.com/shopspring/decimal"'
