app:
  token: "sungora-dev" # cookie name
  sessionTimeout: 604800s
  domain: "localhost"
  mode: "dev"
  dirStatic: "/template"
  dirWww: "/www"
  signingKey: "xxx-xxx-xxx"

lg:
  title: "sungora-dev" # Change
  output: "stdout"
  formatter: "json"
  level: trace # Change enum (trace|info|error)

http:
  proto: "http"
  host: "localhost"
  port: 8080
  writeTimeout: 60s  # Время ожидания окончания передачи ответа в секундах
  readTimeout: 60s   # Время ожидания web запроса в секундах
  requestTimeout: 60s # Время ожидания окончания выполнения запроса
  maxHeaderBytes: 1048576 # Максимальный размер заголовка получаемого от браузера клиента в байтах

postgresql:
  postgres: "postgres://postgres:postgres@localhost:5432/sun"
  max_idle_conns: 0
  max_open_conns: 0
  ocsql_trace: true

jaeger:
  title: "sungora-dev"
  oc_url: "http://localhost:14268/api/traces"
  fraction: 1

grpcClient:
  host: "localhost"
  port: 9090

grpcServer:
  host: "localhost"
  port: 9090

minio:
  host: "localhost:9000"
  access_key: "admin"
  secret_key: "Cf5IttjOxXnl"
  ssl: false
  region: "eu-east-1"
